openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: weather
      tags:
        - Weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        description: 'City geo location, longitude'
                        example: 145.77
                      lat:
                        type: number
                        description: 'City geo location, latitude'
                        example: -16.92
                  cod:
                    type: number
                    description: Internal parameter
                    example: 200
                  name:
                    type: string
                    description: Name
                    example: Cairns
                  id:
                    type: number
                    description: City ID
                    example: 2172797
                  timezone:
                    type: number
                    description: The timezone for the station
                    example: -28800
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                        description: Internal parameter
                        example: 1
                      id:
                        type: number
                        description: Internal parameter
                        example: 8166
                      country:
                        type: string
                        description: 'Country code (GB, JP etc.)'
                        example: AU
                      sunrise:
                        type: number
                        description: 'Sunrise time, unix, UTC'
                        example: 1435610796
                      sunset:
                        type: number
                        description: 'Sunset time, unix, UTC'
                        example: 1435650870
                  dt:
                    type: number
                    description: 'Time of data calculation, unix, UTC'
                    example: 1435658272
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        description: 'Cloudiness, %'
                        example: 75
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.'
                        example: 5.1
                      deg:
                        type: number
                        description: 'Wind direction, degrees (meteorological)'
                        example: 150
                  visibility:
                    type: number
                    description: 'Visibility, meter'
                    example: 16093
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                        example: 293.25
                      feels_like:
                        type: number
                        description: What the weather feels like despite the actual numbers
                        example: 41.16
                      temp_min:
                        type: number
                        description: 'Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: 289.82
                      temp_max:
                        type: number
                        description: 'Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: 295.37
                      pressure:
                        type: number
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa'
                        example: 1019
                      humidity:
                        type: number
                        description: 'Humidity, %'
                        example: 83
                  base:
                    type: string
                    description: Internal parameter
                    example: cmc stations
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Weather condition id
                          example: 803
                        main:
                          type: string
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                          example: clouds
                        description:
                          type: string
                          description: Weather condition within the group
                          example: broken clouds
                        icon:
                          type: string
                          description: Weather icon id
                          example: 04n
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_response'
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      security:
        - app_id: []
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
components:
  schemas:
    unauthorized_response:
      title: 401
      type: object
      x-examples: {}
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
      description: ''
